@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background: #f2d5d3;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.bg {
    background-image: url('/background-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hover-item:hover {
    background-color: lightblue;
    padding: 0.1em;
}

.quantico {
    font-family: 'Quantico', sans-serif;
}

.pointer {
    cursor: pointer;
}