@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background: #FFCB2B;
    height: 100%;

    font-family: 'Roboto Mono', monospace;
}

.weAreLaunchingSoonText {
    font-family: 'Quantico', sans-serif;
}

.pointer {
    cursor: pointer;
}