@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background: linear-gradient(0deg, #eaeff5 0%, #fff 65%);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.hover-item:hover {
    text-decoration: underline;
}

.quantico {
    font-family: 'Quantico', sans-serif;
}

.pointer {
    cursor: pointer;
}